@tailwind base;
@tailwind components;
@tailwind utilities;

.w-full {
	width: 100%;
}
.max-w-2xl {
	max-width: 2xl;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.text-center {
	text-align: center;
}
